<style>
    {#asset Invoice styles.css @encoding=utf8}
</style>

<style>
    .page-break {
        display: block;
        page-break-before: always;
    }
</style>

<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <img src="{#asset Invoice logo.png @encoding=dataURI}" style="width:100%; max-width:300px;" />
                        </td>
                        <td>
                            Invoice Template Index: {{index}}
                            <br> Invoice #: {{number}}
                            <br> Erstellt am: {{now}}
                            <br> Bezahlen bis: {{nowPlus20Days}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="information ">
            <td colspan="2 ">
                <table>
                    <tr>
                        <td>
                            {{seller.name}}<br>
                            {{seller.road}}<br>
                            {{seller.country}}
                        </td>
                        <td>
                            {{buyer.name}}<br>
                            {{buyer.road}}<br>
                            {{buyer.country}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="heading ">
            <td>
                Element
            </td>
            <td>
                Preis
            </td>
        </tr>
        {{#each items}}
        <tr class="item">
            <td>
                {{name}}
            </td>
            <td>
                CHF {{price}}
            </td>
        </tr>
        {{/each}}
        <tr class="total ">
            <td></td>
            <td>
                Total: CHF {{total items}}
            </td>
        </tr>
    </table>

</div>

<h1>Hello from Page 1</h1>

<div style='page-break-before: always;'></div>

<h1>Hello from Page 2</h1>

<div class='page-break'></div>

<h1>Hello from Page 2</h1>